{{ define "content" }}
{{ $DOWNLOADPREFIX := .DownloadPrefix }}
{{ if .ErrorMessage }}
<div class="notification is-warning">
  {{ .ErrorMessage }}
</div>
{{ end }}

<h2 class="title is-2">Messages for {{ .Number }}</h2>
{{ range .Messages }}
<pre>
  On: {{ .Timestamp }} => ID: {{ .ID }} => From Me: {{ .FromMe }}{{ if .HasAttachment }} => Attachment: <a download target="_blank" href="{{ $DOWNLOADPREFIX }}{{ .ID }}">Download</a>{{ end }}  
  Chat:  {{ .Chat }}
  Participant:  {{ .Participant }}
  Text: {{ .Text}}
</pre>
<br/>
{{ end }}

<a href="/form/account">Back</a>
{{ end }}